@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  /*font-size: ;*/
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0px;
  border: 0px;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*!обнуление/////////////////////////////////*/
html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container {
  box-sizing: content-box;
  max-width: 956px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 1124px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 769px) {
  .container {
    max-width: none;
    padding: 0px 8px;
  }
}

.main {
  flex: 1 1 auto;
}
.main__section-one {
  background-color: rgb(209, 145, 145);
  padding: 80px 0px;
}
.main__section-two {
  max-height: 80px;
  height: 100%;
  padding: 31px 0px;
  display: flex;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.section-one__item {
  background-color: rgb(255, 255, 255);
  max-width: 389px;
  width: 100%;
  max-height: 204px;
  height: 100%;
  border-radius: 10px;
  padding: 38px;
  display: flex;
  flex-direction: column;
}

.item__title {
  padding-bottom: 62px;
}
.item__title h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #1d1d1d;
}
.item__subtitle-time {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.item__subtitle h6 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #626262;
}
.item__time .btn {
  background-color: #262626;
  border-radius: 100px;
  padding: 8px 16px;
}
.item__time .btn p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

.section-two__nav-item {
  text-decoration: none;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}

.cards-item__icon {
  max-width: 170px;
  width: 100%;
  max-height: 160px;
  height: 100%;
}