@import "knight.scss";
/*!обнуление/////////////////////////////////*/
$fz: 60px;
//сокращение
%tplborder {
  border-bottom: 10px dashed rgb(228, 16, 16);
  // пример (@extend %tplborder;)
} //шаблон
@mixin fontz($fz, $c, $bc) {
  font-size: $fz;
  color: $c;
  background-color: $bc;
}

@mixin mwh($m-w, $w, $m-h, $h) {
  max-width: $m-w;
  width: $w;
  max-height: $m-h;
  height: $h;
}
@mixin minwh($m-w, $w, $m-h, $h) {
  min-width: $m-w;
  width: $w;
  min-height: $m-h;
  height: $h;
}
@mixin mww($m-w, $w) {
  max-width: $m-w;
  width: $w;
}
@mixin mhh($m-h, $h) {
  max-height: $m-h;
  height: $h;
}
// пример (@include fontz(20px, red, green);)
//миксы
body {
  //margin: 0px auto;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  //для того чтобы ограичить контентную зону;
  display: flex; //для того чтобы прижать footer вниз
  min-height: 100%; //для того чтобы прижать footer вниз
  overflow: hidden; //для того чтобы прижать footer вниз
  flex-direction: column; //для того чтобы прижать footer вниз
}
.container {
  box-sizing: content-box;
  max-width: 956px;
  margin: 0 auto;
  padding: 0px 15px;
  @media (max-width: 1124px) {
    max-width: 970px;
  }
  @media (max-width: 992px) {
    max-width: 750px;
  }
  @media (max-width: 769px) {
    max-width: none;
    padding: 0px 8px;
  }
}
////////////////////////////////////////////
.main {
  flex: 1 1 auto; //для того чтобы прижать footer вниз

  &__body {
  }

  &__section-one {
  }

  &__section-two {
  }

  &__section-three {
  }
}

.section-one {
  &__item {
  }
}
.time {
}
.nav {
  &__item {
  }
}
.section-three {
  &__header {
  }

  &__cards {
  }
}
.cards {
  &__column {
  }

  &__item {
  }
}
.cards-item {
  &__icon {
  }

  &__title {
  }

  &__subtitle {
  }

  &__pricee {
  }
}
