@import "knight.scss";
/*!обнуление/////////////////////////////////*/
$fz: 60px;
//сокращение
%tplborder {
  border-bottom: 10px dashed rgb(228, 16, 16);
  // пример (@extend %tplborder;)
} //шаблон
@mixin fontz($fz, $c, $bc) {
  font-size: $fz;
  color: $c;
  background-color: $bc;
}

@mixin mwh($m-w, $w, $m-h, $h) {
  max-width: $m-w;
  width: $w;
  max-height: $m-h;
  height: $h;
}
@mixin mww($m-w, $w) {
  max-width: $m-w;
  width: $w;
}
@mixin mhh($m-h, $h) {
  max-height: $m-h;
  height: $h;
}
// пример (@include fontz(20px, red, green);)
//миксы
////////////////////////////////////////////
///
///
body {
  max-width: 1124px;
  width: 100%;
  margin: 0px auto;
  font-family: "Roboto";
}
//header///////////////////////////////////////
header {
  @include mwh(1124px, 100%, 72px, 100%);
  top: 0px;
  position: fixed;
  //background-color: rgb(244, 232, 232);
  z-index: 3;
}
.header {
  &__body {
    background-color: #ffffff;
    margin-left: 81px;
    margin-right: 87px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 6px 4px -4px #d4dbe0;
  }

  &__logo {
    margin: auto 0px auto 0px;
  }

  &__buttons {
    display: flex;
  }
}
.item-header {
  &__button-entrance {
    margin: auto;
    width: 78px;
    height: 40px;
    background-color: #fff;
    color: #000000;
    border: 1px solid #e0e0e0;
    border-radius: 10%;
    p {
      font-weight: bold;
      font-family: "Roboto", sans-serif;
    }
  }

  &__button-basket {
    background-color: #fff;
    margin-left: 16px;
    width: 40px;
    height: 72px;
  }
}
//main////////////////////////////////////////////////////
.wrapper {
  //для того чтобы прижать footer вниз
  min-height: 100%; //для того чтобы прижать footer вниз
  overflow: hidden; //для того чтобы прижать footer вниз
  display: flex; //для того чтобы прижать footer вниз
  flex-direction: column; //для того чтобы прижать footer вниз
}
.main {
  flex: 1 1 auto; //для того чтобы прижать footer вниз
}
.main {
  &__body {
    padding-top: 72px;
    padding-bottom: 80px;
  }

  &__search-form {
    margin: 56px auto 56px auto;
    @include mwh(962px, 100%, 24px, 100%);
    box-sizing: border-box;

    form {
      border-bottom: 1px solid #757575;
      opacity: 0.3;
    }
    input {
      @include mwh(962px, 100%, 24px, 100%);
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #626262;
    }
  }

  &__header {
    margin: 0px auto 16px 81px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #1d1d1d;
  }

  &__cards {
    margin: 0px 87px auto 81px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
  }

  &__column {
    @include mwh(308px, 100%, 366px, 100%);
    &:hover {
      background: #f3efef;
    }
  }
}
.item-main {
  &__title {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 4px;
    h5 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #1d1d1d;
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    h6 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #626262;
    }
  }

  &__time {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    p {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 21px;
      color: #1d1d1d;
    }
  }
}
.item-about {
  &__icon {
    @include mwh(308px, 100%, 256px, 100%);
  }
}
.footer {
  &__body {
  }

  &__header {
  }

  &__logo {
  }

  &__row {
  }

  &__column {
  }

  &__button {
  }

  &__column-button {
  }

  &__row-help {
  }

  &__nav {
  }
}
.links-footer {
  &__language {
  }

  &__sending {
  }

  &__sending-logo {
  }

  &__sending-buttons {
  }

  &__facebook-button {
  }

  &__twitter-button {
  }

  &__inst-button {
  }
}
.nav-footer {
  &__links {
  }

  &__link {
  }
}
.footer-button {
  &__as {
  }

  &__gp {
  }
}
